DATABASE_URL="postgresql://postgres:postgres@localhost:5433/starter_db"
JWT_SECRET=7f8c2d9a1b5e4c6d8f1a9b3c7e5d2f8a4b6c9e1d3f5a7b8c

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=qpuspjyiqa6xajps@ethereal.email
SMTP_PASS=GUbz9r463wkDN6QTwa
SMTP_FROM="System SMI <no-reply@smi.com>"

FRONTEND_URL=http://localhost:5173

SUPER_ADMIN_EMAIL=admin@smi.local
SUPER_ADMIN_PASSWORD=Admin123!
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin