# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/starter_db"

# JWT
JWT_SECRET="change_me"

# SMTP (email)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_pass
SMTP_FROM="System SMI <no-reply@smi.com>"

# Frontend URL (do linków resetu hasła)
FRONTEND_URL=http://localhost:5173